:root {
    --bg: #1c1c1c;
    --hbrd: #2b2b2b;
    --hbg: #232323; 
    --txt: #ededed;
    --t1: #fff;
    --t2: #e7e7e7;
    --t3: #c4c4c4;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg: #ededed;
        --txt: #282828;
    }
}

html,body{height:100%;}

.fancy {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

code, pre, .code {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    background-color: var(--bg);
    color: var(--txt);
}

#burrito {
    border: 20px solid var(--hbrd);
    border-radius: 0.75rem;
    width: 90%;
    margin:auto;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: var(--hbg);
    display: flex;
    justify-content: space-between;
}

header {
    width: 0px;
    padding: 1%;
    background-color: var(--hbg);
    float:left;
}

nav {
    width: 100%;
    height: 100%;
}

a {
    font-family: monospace;
    border-radius: 0.1rem;
    transition: color 0.25s, background-color 0.25s;
    color: var(--txt);
    font-size: 1rem;
}

header a {
    display:inline-block;
    width: 185px;
    line-height: 30px;
    margin: 1%;
    font-size: 1.1rem;
    height: 30px;
    padding-left: 5%;
}

nav:first-child {
    margin-top: 1rem;
}

a:hover {
    color: var(--hbg);
    background-color: var(--txt);
}

main{
    float:right;
    margin-left: 200px;
    padding: 1%;
    border-left: 20px solid var(--hbrd);
    word-wrap: break-word;
}

h1,h2,h3 { font-family: monospace; }

h1 { font-size: 2.5rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }
h1 span:nth-child(1n) { color: var(--t1); }
h1 span:nth-child(2n) { color: var(--t2); }
h1 span:nth-child(3n) { color: var(--t3); }

@media screen and (max-width: 1130px) {
    #burrito {
        display: initial;
        border: unset;
        justify-content: center;
    }
    header {
        display: block;
        width: auto;
        background: initial;
        border: 20px solid var(--hbrd);
        margin: auto;
        margin-bottom: 2rem;
        
    }
    header a {
        margin: 0;
        padding: 0;
        width: auto;
        margin-right: 1rem;
        margin-left: 1rem;
        height: auto;
    }
    main {
        margin: 0;
        border: 20px solid var(--hbrd);    
        background-color: var(--hbg)
    }
}