build
*.db
*htmldocs*
static/
!docs/static/
uploads/
nimbledeps/
*.patch
testresults/
nimcache/
templates/
*.so
*.scm
.db_pid
pothole_envs
potholectl
onbox_envs
onboxctl
onboxdev
deploy.sh
a.nim
.sass-cache
.testGuard*