/* Saving these old colors: 
    --yelorange: #d2952e;
    --yellow: #ddc96d;
    --teal: #5a9357;
    --cyan: #0ef2c8;
    
*/
:root {
  --bg:#041429;
  --bg2: #0a264b;
  --border: #2C2D2F;
  --txt: #C1C1C1;
  --grey: #767d8f;
  --white: #d9f1f0;
  --red: #fc4e5d;
  --orange: #cc6e01;
  --green: #00ad5e;
  --blue: #4099d4;
  --magenta: #c357ad;
  --violet: #847cc7;
  --purple: #8767e6;
  --col1Width:20%;
  --col2Width:73%;
  --burritoWidth:70%; }
  @media (prefers-color-scheme: light) {
    :root {
      --bg:#C1C1C1;
      --bg2:#aeaeae;
      --txt:#041429;
      --border:#041429;
      --grey: #d9f1f0;
      --white: #636465;
      --red: #730724;
      --green: #233302;
      --orange: #bb491b;
      --blue: #08338b;
      --violet: #390e6d;
      --magenta: #761b5a;
      --purple: #4517b6; } }
  @media screen and (max-width: 915px) {
    :root {
      --burritoWidth: 85%; } }
  @media screen and (max-width: 805px) {
    :root {
      --burritoWidth: 95%; } }
  @media screen and (max-width: 850px) {
    :root {
      --col2Width: 95%; } }
  @media screen and (max-width: 609px) {
    :root {
      --col1Width:100%;
      --col2Width:98%; } }

#burrito {
  max-width: var(--burritoWidth); }

body {
  background-color: var(--bg);
  font-family: "Lato", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 1.05rem;
  color: var(--txt);
  word-wrap: break-word; }

code, pre {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.85rem; }

a {
  color: var(--violet);
  text-decoration: none; }
  a:hover {
    color: var(--orange);
    font-style: italic; }

h1.title {
  text-align: center;
  font-size: 2.5rem; }

#main {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  max-width: 1350px;
  margin: 0 auto; }
  #main .index {
    box-sizing: border-box;
    float: left;
    width: var(--col1Width); }
    #main .index ul {
      padding: 0; }
    @media screen and (max-width: 850px) {
      #main .index {
        visibility: hidden !important;
        display: none !important;
        height: 0 !important;
        width: 0 !important; } }
  #main .content {
    box-sizing: border-box;
    float: right;
    width: var(--col2Width); }
    @media screen and (max-width: 850px) {
      #main .content {
        margin: auto !important;
        float: initial; } }
  #main #footer {
    clear: both;
    text-align: center;
    padding-top: 5em; }
    #main #footer p {
      margin: 5px 0 5px 0; }
  #main h1 {
    font-size: 1.75rem; }

#index ul {
  list-style: none;
  margin-top: 3%;
  margin-bottom: 3%; }

#index li > a.reference {
  margin-left: 1.5rem; }

dl.item > div {
  margin: 2rem 0 2rem 0; }

pre.ln, code.ln {
  color: var(--grey); }
pre.keyword, code.keyword {
  color: var(--red);
  font-weight: bold; }
pre.comment, code.comment {
  color: var(--grey); }
pre.literal.string, code.literal.string {
  color: var(--green); }
pre.name.builtin, code.name.builtin {
  color: var(--violet); }
pre.deleted, code.deleted {
  background-color: var(--orange); }
pre.inserted, code.inserted {
  background-color: var(--green); }

pre span.problematic {
  color: var(--red); }
pre span.DecNumber, pre span.BinNumber, pre span.HexNumber, pre span.OctNumber, pre span.FloatNumber {
  color: var(--blue); }
pre span.Identifier {
  color: var(--orange); }
pre span.Keyword {
  color: var(--green); }
pre span.StringLit, pre span.LongStringLit, pre span.CharLit {
  color: var(--red); }
pre span.EscapeSequence {
  color: var(--orange); }
pre span.Operator {
  color: var(--blue); }
pre span.Punctuation {
  color: var(--white); }
pre span.Comment, pre span.LongComment {
  font-style: italic;
  color: var(--violet); }
pre span.RegularExpression, pre span.TagStart, pre span.TagEnd {
  color: var(--magenta); }
pre span.Key, pre span.Value, pre span.RawData, pre span.Assembler, pre span.PreProcessor, pre span.Directive {
  color: var(--purple); }
pre span.option {
  color: var(--green);
  font-weight: bold;
  font-family: monospace; }
pre span.Prompt {
  color: var(--red);
  font-weight: bold; }
pre span.program {
  font-weight: bold;
  color: var(--violet);
  text-decoration: underline;
  text-decoration-color: var(--grey); }
pre span.ProgramOutput {
  font-weight: bold;
  color: var(--grey); }
pre span.Command, pre span.Rule, pre span.Hyperlink, pre span.Label, pre span.Reference {
  color: var(--white); }

dt pre > span.Keywork ~ span.Identifier, dt pre > span.Identifier ~ span.Identifier, dt pre > span.Operator ~ span.Identifier, dt pre > span.Other ~ span.Identifier {
  color: var(--blue); }

dd > a.srclink {
  display: block; }

pre {
  box-sizing: border-box;
  display: inline-block;
  white-space: pre !important;
  background-color: var(--bg2);
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow-x: visible;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  max-width: 100%; }

.content > div.section {
  max-width: var(--burritoWidth) !important; }

/*# sourceMappingURL=style.css.map */
