body {
  font-family: ui-sans-serif, sans-serif, system-ui;
  background-color: #eee;
  line-height: 1.6rem;
  max-width: 700px;
  margin:auto;
}

label { display: block; }
a { text-decoration: none; }

/* User page specific decor */
.avatar img {
  width: 50px;
  height: auto;
}
.left {float: left;}
.right {float: right;}
.avatar { overflow:auto }
.arrows { text-align: center; }