$bg: #c8bee4;
$txt: #fff;

$winbg: #141414;
$winbrd: #000;
$wintxt: #f6daef;
$linkclr: #aae040;

$oauthtxt: #fff;
$oauthokbg: #1dac41;
$oauthokbrd: #14895e;
$oauthnobg: #fc0e46;
$oauthnobrd: #c40a0c;

body {
    font-family: system-ui, sans-serif;
    background-color: $bg;
    color: $txt;
}

body, html {
    width: 100vw;
    height: 100vh;
}

#burrito  {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    border: 10px solid $winbrd;
}

header, main, #burrito {
    color: $wintxt;
    background-color: $winbg;
}

header {
    width: 200px;
    border-right: 10px solid $winbrd;
    a {
        display: inline-block;
        font-size: 1.2rem;
        margin: 0.5rem 0 0.5rem 0.5rem;
        width: 180px;
    }
    a::before {
        content: "> ";
    }
}

main {
    width: auto;;
    margin-left: 1%;
    padding: 1%;
    flex: 1;
}

footer, h1 {
    text-align: center;
}

footer {
    display: block;
    margin-top: 1rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

a {
    color: $linkclr;
    transition: color 0.2s, background-color 0.2s;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.1rem;
}

a:hover {
    color: $winbg;
    background-color: $linkclr;
}

p, li, a {
    font-size: 1.1rem;
    letter-spacing: 0.025rem;
    line-height: 1.4;
}

li {
    margin: 0.75rem 0 0.75rem 0;
}
.box, .error, .success {
    max-width: 50%;
    margin: auto;
    padding: 2%;
    border: 10px solid $winbrd;
    height: auto;
    padding-bottom: 5%;
}

.error, .success {
    padding-bottom: 2%;
}

.error {
    border: 2px solid $oauthnobrd;
    background-color: $oauthnobg;
}

.success {
    border: 2px solid $oauthokbrd;
    background-color: $oauthokbg;
}

.error,.success {
    font-weight: bold;
    font-size: 1.2rem;
    color: $wintxt;
}

button.oauth {
    width: 15rem;
    padding: 1%;
}

button.green {
    color: $wintxt;
    font-size: 1.3rem;
    background-color: $oauthokbg;
    border:3px solid $oauthokbrd;
    float: left;
    &:hover, &:focus {
        background-color: $oauthokbrd;
    }
}
button.red {
    color: $wintxt;
    font-size: 1.3rem;
    background-color: $oauthnobg;
    border:3px solid $oauthnobrd;
    float: right;
    &:hover, &:focus {
        background-color: $oauthnobrd;
    }
}

form.auth {
    width: 800px;
    margin: auto;
    display: inline-block;
    label {
        display: block;
        clear:left;
        padding-right: 1%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1150px) {
    .box {
        padding-bottom: 2rem;
    }
    button.oauth {
        margin:auto;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 99%;
        float:initial;
    }
}

@media screen and (max-width: 830px) {
    #burrito {
        width: 90%;
    }
    
}

@media screen and (max-width: 680px) {
    #burrito {
        display: block;
    }

    header {
        border-right: none;
        width: auto;   
        text-align: center;
        a {
            width: auto;
            font-size: 1.45rem;
            margin: 0 1rem 0 1rem;
        }
        a::before {
            content: '';
        }
    }
    .box {
        width: 90%;
        max-width: none;
    }
}

@media screen and (max-width: 400px) {
    .box, #burrito {
        border: 3px solid $winbrd;
    }
}

@media screen and (max-width: 250px) {
    #burrito {
        width: 100%;
        margin:0;
    }
    .box, #burrito {
        border: none;
    }
}

@media print {
    * {
        color: black;
        background-color: white;
    }
    #burrito {
        width: 95%;
        border: none;
    }

    main, header, #burrito {
        border: none;
    }

    header, footer {
        display: none;
    }
    a { color: blue; }
    .box {
        border: 2px solid $winbrd;
        max-width: fit-content;
        padding-bottom: 4rem;
    }
    button {
        .green {
            border: 1px solid $oauthokbg;
        }
        .red {
            border: 1px solid $oauthnobg;
        }
    }
}